- content_for :title do
  Edit page

- content_for :javascript do
  :javascript
    $(function () {
      NewQuestionInChallenge("#new-question-btn", "#question-form");
    });

= render 'layouts/header'

.container

  %h1 Editing challenge

  = render 'form'

  %div
    = link_to 'Show', @challenge
    |
    = link_to 'Back', challenges_path

  = render 'layouts/footer'
