= render 'layouts/header'

.container
  %h1 Listing challenges

  %br

  %table.table.table-border.table-striped
    %thead
      %tr
        %th Title
        %th Overall difficulty
        %th Genre
        %th
        %th
        %th

    %tbody
      - @challenges.each do |challenge|
        %tr
          %td= challenge.title
          %td= challenge.overall_difficulty
          %td= challenge.genre
          %td= link_to 'Show', challenge
          %td= link_to 'Edit', edit_challenge_path(challenge)
          %td= link_to 'Destroy', challenge_path(challenge), method: :delete,
            data: { confirm: 'Are you sure?' }

  %p= link_to 'Create New challenge', new_challenge_path, { :class => 'btn btn-primary' }
  = render 'layouts/footer'
