= render 'layouts/header'

.container
  %p#notice= notice

  %p
    %strong
      Title:
      = @challenge.title

  %p
    %strong
      Overall difficulty:
      = @challenge.overall_difficulty

  %p
    %strong
      Genre:
      = @challenge.genre

  %div
    = link_to 'Edit', edit_challenge_path(@challenge)
    |
    = link_to 'Back', challenges_path

  = render 'layouts/footer'
