<%= form_for(@test) do |f| %>
<% if @test.errors.any? %>
  <div id="error_explanation" class="alert alert-error alert-block">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>Sorry!</h4>
    <%= pluralize(@test.errors.count, "error") %> prohibited this test from being saved:

    <ul>
    <% @test.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div>
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>

<div>
  <%= f.label :overall_difficulty %>
  <%= f.number_field :overall_difficulty %>
</div>

<div>
  <%= f.label :genre %>
  <%= f.text_field :genre %>
</div>

<div id="question-form" style="display:none;">Question Form</div>

<p id="new-question-btn" class="btn">
  Add question
</p>


<br>
<br>

<div>
  <%= f.submit :class => 'btn btn-large btn-primary' %>
</div>

<% end %>

<script type="text/javascript">
  $(function () {
    NewQuestionInTest();
  });
</script>
