<h1>Listing tests</h1>

<br>

<table class="table table-border table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Overall difficulty</th>
      <th>Genre</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tests.each do |test| %>
      <tr>
        <td><%= test.title %></td>
        <td><%= test.overall_difficulty %></td>
        <td><%= test.genre %></td>
        <td><%= link_to 'Show', test %></td>
        <td><%= link_to 'Edit', edit_test_path(test) %></td>
        <td><%= link_to 'Destroy', test_path(test), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= link_to 'Create New Test', new_test_path, {:class => "btn btn-primary"} %>
</p>