= render 'layouts/header'

.container
  %h1 Listing tests

  %br

  %table.table.table-border.table-striped
    %thead
      %tr
        %th Title
        %th Overall difficulty
        %th Genre
        %th
        %th
        %th

    %tbody
      - @tests.each do |test|
        %tr
          %td= test.title
          %td= test.overall_difficulty
          %td= test.genre
          %td= link_to 'Show', test
          %td= link_to 'Edit', edit_test_path(test)
          %td= link_to 'Destroy', test_path(test), method: :delete,
            data: { confirm: 'Are you sure?' }

  %p= link_to 'Create New Test', new_test_path, { :class => 'btn btn-primary' }
  = render 'layouts/footer'
