%p#notice= notice

%p
  %strong
    Title:
    = @test.title


%p
  %strong
    Overall difficulty:
    = @test.overall_difficulty


%p
  %strong
    Genre:
    = @test.genre

%div
  = link_to 'Edit', edit_test_path(@test)
  |
  = link_to 'Back', tests_path
